body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  display: flex;
}

.square {
  height: 200px;
  width: 200px;
  background-color: rgb(227, 227, 199);
}

.beige {
  background-color: rgb(227, 227, 199);
}

.brown {
  background-color: rgb(96, 54, 54);
}

.chess-piece {
  height: 100%;
  width: 100%;
}

.high-light {
  background-color: rgb(233, 102, 102);
}

.target {
  border: 10px solid rgb(169, 56, 56);
  box-sizing: border-box;
}

#info {
  height: 30px;
}
